<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blog_backend.mapper.UserMapper">

    <!-- 更新 -->
    <update id="update"
            parameterType="com.example.blog_backend.entity.User">
        update user
        set username = #{username},
            password = #{password},
            nickname = #{nickname},
            role = #{role},
            email = #{email}
        where id = #{id}
    </update>

    <!-- 查询所有 -->
    <select id="selectAll"
            resultType="com.example.blog_backend.entity.User">
        select * from user
    </select>

    <!-- 批量添加 -->
    <insert id="batchInsert" parameterType="java.util.List"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user (username, password, nickname, role, email) VALUES
        <foreach collection="list" item="user" separator=",">
            (#{user.username}, #{user.password}, #{user.nickname},
            #{user.role}, #{user.email})
        </foreach>
    </insert>

</mapper>
